*{
    box-sizing: border-box;
}
.form h2{
    text-transform: uppercase;
    justify-content: center;
    font-family: sans-serif;
    background-color: rgb(240, 238, 238);
    border: 1px solid gray;
    width: 599px;
    height: 50px;
    
}
.form p{
    text-align: center;
    font-size: 1.4em;
    font-family: sans-serif;
}
.form{
    margin: auto;
    width: 90%;
    min-width: 400px;
    max-width: 600px;
    border: 1px solid gray;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    margin-top: -30px;
}
.red::after{
    content: "*";
    color: red;
}
.form>*{
    display: flex;
    justify-content: flex-start;
    margin-bottom: 10px;
    align-items: center;
}
.form span{
    display: inline-block;
    width: 30%;
    text-align: right;
    padding-right: 20px;
}
.button{
    margin-left: 180px;
    width: 55px;
    height: 30px;
    line-height: 28px;
    background-color: rgb(38, 38, 253);
    color: white;
    border: none;
    border-radius: 5px;
}
select,
textarea,
input:not([type="radio"]){
    width: 50%;
    padding: 5px;
}